{% filedisplayercache %}
   <div class="{{ classes|raw }}"{% if attributes.size() %} {{ attributes|raw }}{% endif %}>
       {% block content %}
          {{ asset.getContents|raw }}
       {% endblock %}
   </div>
{% endfiledisplayercache %}