<div class="{{ classes|raw }}"{% if attributes.size() %} {{ attributes|raw }}{% endif %}>
    {% block content %}
	   I'm the block {{ block.name }}, override my template 'blocks/{{ block.provider ~ '_' ~ block.handle }}.twig'
    {% endblock %}
</div>