<div class="{{ classes|raw }}" {{ attributes|raw }}>
    {% block content %}
	   I'm the block {{ block.name }}, override my template 'blocks/{{ block.provider~'_'~block.handle }}'
    {% endblock %}
</div>