{% do craft.app.session.setFlash('notice', "I'm a message") %}
{% do craft.app.session.setFlash('error', "I'm an error message") %}
{% set message = craft.app.session.getFlash('notice') %}
{% set error = craft.app.session.getFlash('error') %}

{% if message or error %}
    <div class="{{ classes|raw }}" {{ attributes|raw }}>
        {% if message %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    </div>
{% endif %}