{% do layout.eagerLoadFields(element, 'default') %}

<!DOCTYPE html>
<html lang="{{ currentSite.language }}">
    {% block head %}
        <head>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
            <meta name="referrer" content="origin-when-cross-origin" />
        </head>
    {% endblock %}
    {% block body %}
        <body>
            {% for region in layout.regions %}
                {{ region.render(element)|raw }}
            {% endfor %}
        </body>
    {% endblock %}
</html>