{% import "_includes/forms" as forms %}

{{
    forms.selectField({
        options: options.getFormatOptions(),
        value: options.format,
        name: 'format',
        label: 'Format'|t('themes')
    })
}}
{{
    forms.textField({
        name: 'custom',
        value: options.custom,
        label: 'Custom'|t('theme'),
        instructions: 'View available formats {tag}here{endtag}'|t('themes', {tag: '<a href="https://www.php.net/manual/fr/datetime.format.php" target="_blank">', endtag: '</a>'})
    })
}}