@import '~craftcms-sass/_mixins';

.themes-modal-options {
    padding-bottom: 62px;
    min-width: 300px !important;
    min-height: 300px !important;
    height: 60vh !important;
    width: 30% !important;
    .body {
        height: calc(100% - 65px);
        overflow-y: auto;
    }
    .field.select-elements .heading {
        display:flex;
        justify-content:space-between;
    }
    &.displayer-asset-renderfile, &.displayer-file-file {
        width: 50% !important;
        height: 80vh !important;
    }
}

#field-displayers {
    position: relative;
    height: calc(100% - 2px);
    border-radius: 3px;
    border: 1px solid rgba(96, 125, 159, 0.25);
    background-clip: padding-box;
    overflow: hidden;
    &:after {
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: visible;
        content: '';
        font-size: 0;
        border-radius: 3px;
        box-shadow: inset 0 1px 3px -1px #acbed2;
        user-select: none;
        pointer-events: none;
    }
}

.displayers-settings {
    height: 100%;
    min-width: 300px;
    overflow-y: auto;
    padding-left: 200px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(31, 41, 51, 0.1), 0 2px 5px -2px rgba(31, 41, 51, 0.2);
    .settings-container {
        padding: 15px;
    }
}

.displayers-sidebar {
    position: absolute;
    background-color: $grey050;
    left: 0;
    width: 205px;
    height: 100%;
    overflow-y: auto;
    .heading {
        padding: 7px 14px 6px;
        border-bottom: 1px solid rgba(51, 64, 77, 0.1);
        background-color: $grey050;
        background-image: linear-gradient(rgba(51, 64, 77, 0), rgba(51, 64, 77, 0.05));
    }
    .kind-item {
        display: flex;
        justify-content: space-between;
        padding: 8px 14px;
        border-bottom: solid $grey200;
        border-width: 1px 0;
        background-color: $grey100;
        &:hover {
            text-decoration: none;
        }
        &.sel {
            background-color: $grey200
        }
        &:last-child {
            border-bottom: none;
        }
    }
    h4 {
        margin-bottom:5px;
    }
}