<div class="{{ classes|raw }}"{% if attributes.size() %} {{ attributes|raw }}{% endif %}{% if group.visuallyHidden %} style="display=:none"{% endif %}>
    {% block label %}
        {% if not group.labelHidden %}
            <label class="group-label" {% if group.labelVisuallyHidden %}style="display:none"{% endif %}>
                {{ group.name }}
            </label>
        {% endif %}
    {% endblock %}

    <div class="group-content">
        {% block content %}
            {% for display in group.visibleDisplays %}
                {{ display.render(element)|raw }}
            {% endfor %}
        {% endblock %}
    </div>
</div>