<div class="{{ classes|raw }}" {{ attributes|raw }} {% if field.visuallyHidden %}style="display:none"{% endif %}>
    {% block label %}
        {% if not field.labelHidden %}
            <label class="field-label" {% if field.labelVisuallyHidden %}style="display:none"{% endif %}>
                {{ field.name }}
            </label>
        {% endif %}
    {% endblock %}

    <div class="field-content">
        {% block content %}
            {{ value }}
        {% endblock %}
    </div>
</div>