{% extends "fields/_field" %}

{% macro render(asset, options) %}
    {{ craft.themes.view.renderAsset(asset, options.getDisplayerForKind(asset.kind))|raw }}
{% endmacro %}

{% block content %}
    {% if value|length %}
        {% if craftField.limit == '1' %}
            {{ _self.render(value.0, options) }}
        {% else %}
            <ul class="asset-files">
                {% for asset in value %}
                    <li class="asset-file-item">{{ _self.render(asset, options) }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}