{% extends "fields/_field" %}

{% macro render(asset, field, options) %}
    {% if asset %}
        {{ craft.themes.view.renderFile(asset, field, options.getDisplayerForKind(asset.kind)) }}
    {% endif %}
{% endmacro %}

{% block content %}
    {% if displayer.limit == 1 %}
        {{ _self.render(value.0 ?? null, field, options) }}
    {% else %}
        <ul class="asset-files">
            {% for asset in value %}
                <li class="asset-file-item">{{ _self.render(asset, field, options) }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}