{% extends "fields/_field" %}
{% import "_includes/macros" as macros %}

{% block content %}
    {% if displayer.limit == 1 %}
        {{ macros.assetLink(value.0, options) }}
    {% else %}
        <ul class="asset-list">
            {% for asset in value %}
                <li class="asset-list-item">{{ macros.assetLink(asset, options) }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}