{% extends "fields/_field" %}

{% block content %}
    {% if value %}
        {% if options.firstName %}
            {{ value.firstName }}
        {% endif %}
        {% if options.lastName %}
            {{ value.lastName }}
        {% endif %}
        {% if options.email %}
            ({% if options.linkEmail %}
                <a href="mailto:{{ value.email }}">
            {% endif %}
            {{ value.email }}
            {% if options.linkEmail %}
                </a>
            {% endif %})
        {% endif %}
    {% endif %}
{% endblock %}