{% extends "fields/_field" %}

{% block content %}
    {% for cat in value %}
        <ul class="category-list">
            <li class="category-list-item">
                {{ cat.title }}
            </li>
        </ul>
    {% endfor %}
{% endblock %}