{% extends "fields/_field" %}
{% import "_includes/macros" as macros %}

{% block content %}
    <div class="slick-carousel" data-slick="{{ options.getAttributes(null, ['viewModeUid'])|json_encode }}">
        {% for category in value %}
            {{ macros.renderLayout(displayer.groupLayout, options.viewMode, category) }}
        {% endfor %}
    </div>
{% endblock %}