{% extends "fields/_field" %}

{% set show_field = value|length > 0 and options.viewMode %}

{% block content %}
    <div class="slick-carousel" data-slick="{{ options.getAttributes(null, ['viewModeUid'])|json_encode }}">
        {% for category in value %}
            {{ displayer.groupLayout.render(category, options.viewMode.handle)|raw }}
        {% endfor %}
    </div>
{% endblock %}