{% extends "fields/_field" %}

{% block content %}
    {% set element = craft.themes.view.renderingElement %}
    <a href="{{ element.url }}"{% if options.newTab %} target="_blank"{% endif %}{% if options.hasOption('download') and options.download %} download{% endif %}>
        {{ options.label == 'title' ? element.title : (options.label == 'filename' ? element.filename : options.custom) }}
    </a>
{% endblock %}