{% extends "fields/_field" %}

{% macro element_link(element, options) %}
    <a href="{{ element.url }}"{% if options.newTab %} target="_blank"{% endif %}>
        {{ options.label == 'title' ? element.title : options.custom }}
    </a>
{% endmacro %}

{% block content %}
    {% if displayer.limit == 1 %}
        {% if value.0.url ?? false %}
            {{ _self.element_link(value.0, options) }}
        {% endif %}
    {% else %}
        {% for element in value %}
            {% if element.url %}
                <ul class="element-list">
                    <li class="element-list-item">
                        {{ _self.element_link(element, options) }}
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}