{% extends "fields/_field" %}

{% set show_field = value|length > 0 %}

{% block content %}
    {% if options.linked %}
        <a href="mailto:{{ value }}">{{ value }}</a>
    {% else %}
        {{ value }}
    {% endif %}
{% endblock %}