{% extends "fields/_field" %}
{% import "_includes/macros" as macros %}

{% block content %}
    <div class="slick-carousel" data-slick="{{ options.getAttributes(null, ['viewModes'])|json_encode }}">
        {% for entry in value %}
            {{ macros.renderLayout(entry.type.layout, options.getViewMode(entry), entry) }}
        {% endfor %}
    </div>
{% endblock %}