{% extends "fields/_field" %}

{% set show_field = value|length > 0 %}

{% block content %}
    {% spaceless %}
        {% if options.showPrefix and craftField.prefix %}
            <span class="prefix">{{ craftField.prefix }}</span>
        {% endif %}
        <span class="value">{{ value|number_format(options.decimals) }}</span>
        {% if options.showSuffix and craftField.suffix %}
            <span class="suffix">{{ craftField.suffix }}</span>
        {% endif %}
    {% endspaceless %}
{% endblock %}