{% extends "fields/_field" %}

{% block content %}
    {% if options.showPrefix %}
        <span class="prefix">{{ craftField.prefix }}</span>
    {% endif %}
    <span class="value">{{ value|number_format(options.decimals) }}</span>
    {% if options.showSuffix %}
        <span class="suffix">{{ craftField.suffix }}</span>
    {% endif %}
{% endblock %}