{% extends "fields/_field" %}

{% block content %}
    <div class="slick-carousel" data-slick="{{ options.attributes|json_encode }}">
        {% for _block in value %}
            <div class="super-table-block {{ _block.type.handle }}">
                {% for superField in field.visibleFields(_block) %}
                    {{ superField.render(_block[superField.handle]) }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}