{% extends "fields/_field" %}

{% set show_field = value|length > 0 and options.viewMode %}

{% block content %}
    <div class="slick-carousel" data-slick="{{ options.attributes|json_encode }}">
        {% for tag in value %}
            {{ craft.themes.view.renderLayout(displayer.tagLayout, options.viewMode.handle, tag)|raw }}
        {% endfor %}
    </div>
{% endblock %}