{% extends "fields/_field" %}

{% block content %}
    {% if value|length %}
        <ul class="tag-list">
            {% for tag in value %}
                <li class="tag-list-item">
                    {{ tag.title }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}