{% extends "fields/_field" %}

{% block content %}
    <div class="slick-carousel" data-slick="{{ options.getAttributes(null, ['viewModeUid'])|json_encode }}">
        {% for user in value %}
            {{ displayer.userLayout.render(user, options.viewMode.handle)|raw }}
        {% endfor %}
    </div>
{% endblock %}