{
    "extends": [
        'plugin:vue/vue3-recommended'
    ],
    "parserOptions": {
        "parser": "@babel/eslint-parser",
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "rules": {
        "no-undef": "off",
        "vue/component-definition-name-casing": ["error", "kebab-case"],
        "vue/html-indent": [1, 4],
        "vue/attribute-hyphenation": "off"
    }
}