@import "node_modules/craftcms-sass/mixins";

#theme-blocks .block, .theme-block-drap-helper .block {
	padding: 8px 14px;
	border: solid rgba(51, 64, 77, 0.1);
	border-width: 1px 0;
	min-height: 48px;
	display: flex;
	align-items: center;
	background-color: #cdd8e4;
	transition: all 0.3s;
	&.disabled {
		opacity: 0.5;
	}
	.lightswitch {
		margin-right: 10px;
	}
	.delete {
		margin-left: 5px;
		cursor: pointer;
	}
	&.original {
		visibility: visible !important;
		.lightswitch, .delete {
			display: none;
		}
	}
	.provider {
		font-size: 12px;
	}
	.description {
		flex: 1;
	}
}

#toolbar {
	justify-content: end;
	.spinner {
		display: none;
	}
	.btn.loading + .spinner {
		display: block;
	}
}

.theme-block-drap-helper .block {
	// max-width: 200px;
}

#theme-blocks {
	position: relative;
	border-radius: 3px;
	background-color: #f3f7fc;
	overflow: hidden;
	border: 1px solid rgba(96, 125, 159, 0.25);
	&:after {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		box-shadow: inset 0 1px 3px -1px #acbed2;
		pointer-events: none;
	}
	.theme-sidebar {
		width: 200px;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		padding: 0;
		h3 {
			padding: 7px 15px;
			margin: 0;
			position: relative;
			cursor: pointer;
			border-bottom: 1px solid rgba(96, 125, 159, 0.25);
			&:after {
				transition: all 0.3s;
				display: block;
				content: '.';
				font-size: 0;
				width: 5px;
				height: 5px;
				border: solid #596673;
				border-width: 0 2px 2px 0;
				-webkit-transform: rotate(-135deg);
				-o-transform: rotate(-135deg);
				transform: rotate(-135deg);
				top: calc(50% - 2px);
				position: absolute;
				z-index: 1;
				right: 15px;
				-webkit-user-select: none;
				user-select: none;
				pointer-events: none;
			}
			&.closed:after {
				-webkit-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
				top: calc(50% - 5px);
			}
		}
	}
	.theme-regions {
		padding-left: 200px;
		width: calc(100% - 200px);
		box-shadow: 0 0 0 1px rgba(31, 41, 51, 0.1), 0 2px 5px -2px rgba(31, 41, 51, 0.2);
		* {
			box-sizing: border-box;
		}
	}
	.region-title {
		font-weight: bold;
		font-size: 16px;
	}
	.heading {
		padding: 7px 14px 6px;
		border-bottom: 1px solid rgba(51, 64, 77, 0.1);
		background-color: #f3f7fc;
		background-image: linear-gradient(rgba(51, 64, 77, 0), rgba(51, 64, 77, 0.05));
		border: 0;
	}
	.region-blocks {
		box-shadow: 0 0 0 1px rgba(31, 41, 51, 0.1), 0 2px 5px -2px rgba(31, 41, 51, 0.2);
		min-height: 58px;
		margin-top: 5px;
		&.drop-active {
			padding-bottom: 58px;
		}
	}
	.regions-list {
		background: white;
		box-shadow: 0 0 0 1px rgba(31, 41, 51, 0.1), 0 2px 5px -2px rgba(31, 41, 51, 0.2);
		padding: 15px 15px 5px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.region {
		margin-bottom: 10px;
	}
}