#settings-theme-rules, .editabletablesorthelper {
	border-collapse: collapse;
	tr.disabled {
		opacity: 0.5;
	}
	td { 
		&.cell {
			padding: 0;
			text-align: left;
		}
		textarea, select {
			height: 36px;
			font-size: 14px !important;
			&.disabled {
				background: #f3f7fc;
				font-style: italic;
			}
		}
		select {
			background: none !important;
			width: 100%;
			border-radius: 0;
		}
		.select {
			&:after {
				top: 12px !important;
				width: 6px !important;
				height: 6px !important;
			}
			&.small {
				width: 100%;
			}
		}
		textarea {
			resize: none;
			border-color: transparent; 
		}
	}
}